.order-form {
	display: flex;
	flex-direction: column;
	gap: 17px;
	width: 500px;

	&-input-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		label {
			text-align: center;
		}
	}

	& label {
		input[type="checkbox"] {
			margin-right: 10px;
		}
	}

	.error-message {
		color: red;
		font-size: 12px;
		margin-left: 145px;
		width: 100px;
	}

	.input {
		width: 350px;
	}

	.order-button {
		width: 230px;
		margin-top: 30px;
	}
}